---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Astro 3.0 | Learning in Public">
  <section class="flex flex-col gap-4 items-center justify-center">
    <h1 class="text-4xl font-bold">Changes done</h1>
  </section>
</Layout>
